{% extends "base.html" %}

{% block logo %}
    <div class="logo grid_6">
        <a href="/"><img src="{{ MEDIA_URL }}images/logo-460.png" alt="return home"/></a>
        <p><a href="/map" title="Click here for Map and Directions">13145 Blackbob Road | Olathe, KS 66062 | 913.780.6023</a></p>

    </div>
{% endblock %}

{% block body %}

    <div class="bigblock grid_6"> 
        <p><a href="mailto:webteam@bslcks.org">Email us</a> if you need assistance logging in</p>{% if form.errors %}

        <div class="error_message">Username or Password were incorrect, please try again</div>{% endif %}
        <div class="loginform">
            <form method="post" action="{% url django.contrib.auth.views.login %}">
            {% csrf_token %}
                {{ form }}
            <button type="submit" value="login">Login</button>
            <input type="hidden" name="next" value="/" />
            </form>
        </div>

    </div>

    <div class="clear"></div>




{% endblock %}

