{% extends "base.html" %}

{% block logo %}
    <div class="logo grid_6">
        <a href="/"><img src="{{ STATIC_URL }}images/logo-460.png" alt="return home"/></a>
        <p><a href="/map" title="Click here for Map and Directions">13145 Blackbob Road | Olathe, KS 66062 | 913.780.6023</a></p>

    </div>
    <div class="bigblock grid_6">
        <h1>You have successully logged out</h1>
        <p>Click <a href="/">here</a> to return to the homepage or<br/> <a href="/accounts/login">here</a> to log in again</p>
    </div>
{% endblock %}

{% block body %}
    <div class="clear"></div>
{% endblock %}
