{% extends "base.html" %}

{% load markup mytags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/slider.css" /> 
    {% if season_color %}    <style type="text/css">
        .liturgi-cal {
            width: 100%;
            background: {{ season_color }};
        }
    </style> {% endif %}
{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/easySlider1.7.js"></script>
{% endblock %}

{% block emergency_message %}
    {% fetch_posts "Emergency" %}
    {% if emergency %}<div class="emergency">{{ emergency.title}}: {{ emergency.tease }} (<a href="{{ emergency.get_absolute_url }}">read more</a>)</div>{% endif %}
{% endblock %}

{% block documentreadyfunction %}            $("#slider").easySlider({
                continuous: true,
                pause: 5000,
                auto: true,
                numeric: true,
                useendlink: true,
                endlink: '/news',
                endlinktxt: 'all news'
    		});

            $("#findperson").focus(function(){
                if(this.value=='church directory search')
                {
                    this.value=''
                }
            });
{% endblock %}

{% block logo %}
    <div class="logo grid_6">
        <a href="/"><img src="{{ MEDIA_URL }}images/logo-460-slogan.png" alt="return home"/></a>
        <p><a href="/map" title="Click here for Map and Directions">13145 Blackbob Road | Olathe, KS 66062 | 913.780.6023</a></p>

    </div>
    <div class="grid_6 toplink">
        <a href="/mission-ministry/">Mission/Ministry</a><a href="/growth">Growth</a><a href="/youth">Youth</a><a href="/preschool">Preschool</a>
    </div>
    <div class="grid_6">  
      <div id="slider"> 
          <ul>{% fetch_posts "9" %}{% for post in posts %}
                <li>
                    <h1>{{ post.title }}</h1>
                    <div class="slider_message">
                        {% if user.is_authenticated %}{{ post.body|markdown|striptags|truncatechars:330 }}{% else %}{{ post.body|markdown|striptags|privatize|truncatechars:330 }}{% endif %} <a href='{{post.get_absolute_url }}'>read more</a>
                    </div>
                </li>{% endfor %}
          </ul> 
      </div>
    </div>   

    <div class="clear"></div>
   {% endblock %}

   {% block body %}
   <div class="bigblock grid_4">
       <h1>Worship with us!</h1>
       <p>
          <strong>Sunday Worship</strong> morning services @ 8:00am, 10:45am, and 6:00pm<br/>
          <strong>Family Education Hour</strong> @ 9:30am
       </p>
          <ul>
            <li><a href="/map">Map &amp; Directions</a></li>
            <li><a href="/beliefs">Beliefs</a></li>
            <li><a href="/staff">Staff</a></li>
          </ul>
   </div>
   <div class="bigblock grid_4">
        <h1>Today in the Word</h1> 
        <p><strong>{{ dailybread.date|date:"D n/d" }}</strong> - <a href="/dailybread/today">{{ dailybread.scripture }}</a><br/>
        {{ dailybread.thoughts|truncatechars:75 }}</p>
        <ul>
            <li><a href="{% url get_daily_bread_index %}">Daily Bread Devotions</a></li>
            <li><a href="{% url blog_category_detail 'sermons' %}">Sermons</a></li>
        </ul>
   </div>
   <div class="bigblock grid_4 mediaicons">
        <h1>Connect with us</h1>
        <a href="/rss"><img src="{{ MEDIA_URL }}images/icons/rss.jpg" alt="rss feeds"/></a>
        <a href="http://www.twitter.com/bslcks"><img src="{{ MEDIA_URL }}images/icons/twitter.jpg" alt="twitter feed"/></a>
        <a href="http://www.vimeo.com/bslcks" title="BSLCKS on Vimeo"><img src="{{ MEDIA_URL }}images/icons/vimeoico.png" alt="vimeo channel"/></a>
        <a class="mediaicons_last" href="/youtube"><img src="{{ MEDIA_URL }}images/icons/youtube.jpg" alt="youtube channel"/></a>
        {% if user.is_authenticated %}<form action="{% url congregation_search %}" method="get">
            <div class="buffed"><input type="text" name="findperson" id="findperson" value="church directory search"/><button type="submit">Search</button></div>
        </form>{% else %}<h4><a href="/welcome/">Welcome to Beautiful Savior!</a></h4><p><strong>a message from Pastor Schultz</strong></p>{% endif %}
   </div>
   <div class="clear"></div>
{% endblock %}

