{% extends 'base_site.html' %}

{% load markup %}

{% block title %}Staff{% endblock %}

{% block content %}
    <div class="sub_page_content staff grid_8">    
    {% for key, group in staffgroups.items %}
       {% for person in group %}
       <div class="profile">
           <img src="{{ MEDIA_URL }}{{ person.picture.image }}" alt="{{ person.picture.title }}" />
           <h1>{{ person }}</h1>
           {% for roles in person.role.values %}<h3>{{ roles.name }}</h3>{% endfor %}
           <p>{{ person.bio|markdown }}</p>
       </div>
       {% endfor %}
    {% endfor %}
    </div>
{% endblock %}


{% block leftnav %}
    <div class="bigblock">
        <h1>Worship with us!</h1>
        <p>
          <strong>Sunday Worship</strong> morning services @ 8:00am, 10:45am, and 6:00p <br/>
          <strong>Family Education Hour</strong> @ 9:30am
        </p>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/beliefs">Beliefs</a></li>
          </ul>
    </div>
{% endblock %}

