{% extends "congregation/base_congregation.html" %}

{% block title %} Households List{% endblock %}
{% block body_class %}{{ block.super }} household_list{% endblock %}


{% block content_title %}
  <h2>Households</h2>
{% endblock %}


{% block content %}
        {% if has_previous %}<a href="?page={{  previous }}">&#060;&#060; previous</a> || {% endif %}{% if has_next %}<a href="?page={{ next }}">next &#062;&#062;</a>{% endif %}
        <ul class="link_list"> {% for house in object_list %}
            <li><a href="{{ house.get_absolute_url }}" title="Household detail">{{ house }}</a></li>
            {% endfor %}
        </ul>

{% endblock %}
