{% extends "base_site.html" %}

{% load markup process_flat mytags %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div class="grid_8 sub_page_content">
{% if user.is_authenticated %}{{ flatpage.content|parse_blocks|markdown }}
{% else %}{{ flatpage.content|privatize|parse_blocks|markdown }}{% endif %}

</div>
{% endblock %}

{% block leftnav %}
    <div class="bigblock">
        <h1>Worship with us!</h1>
        <p>
          <strong>Sunday Worship</strong> morning services @ 8:00am, 10:45am, and 6:00p <br/>
          <strong>Family Education Hour</strong> @ 9:30am
        </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map &amp; Directions</a></li>
            <li><a href="/staff">Staff</a></li>
        </ul>
    </div>
{% endblock %}

